<div class="col">

<div class="my-p3 p-3 bg-white rounded shadow-sm">
    <h6 class="border-bottom border-gray pb-2 mb-0">Recent issues</h6>
    <div id="issues">

    </div>
</div>

</div>

<div class="col">

<div class="my-p3 p-3 bg-white rounded shadow-sm">
    <h6 class="border-bottom border-gray pb-2 mb-0">Notifications</h6>
    <div id="notifications" class="media text-muted pt-3">

    </div>
</div>

</div>