<div class="col">

<div class="my-p3 p-3 bg-white rounded shadow-sm">
    <h1 class="jumbotron-heading">404. That's an error.</h1>
    <p class="lead text-muted">The requested URL was not found on this server. That's all we know.</p>
</div>

</div>